[Unit]
Description=Tunnel Between VPS and HA server
After=network-online.target

[Service]
User=homeassistant
ExecStart=ssh -R9000:127.0.0.1:8123 -n -o ExitOnForwardFailure=yes -o ServerAliveInterval=600 -NT ha@example.net
Restart=always

[Install]
WantedBy=multi-user.target
